.histembraer img {
    width: 100%;
}

.text-embr {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
}

.text-embr p {
    text-align: left;
    margin: 0 auto;
    width: 780px;
    position: relative;   
}
